<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Gym Upiicsa</title>
</head>
<body>
<span layout:fragment="title">Actividades</span>
<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Codigo</th>
                                <th>Mets</th>
                                <th>Icono</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX" th:each="actividad : ${actividades}">
                                <td th:text="${actividad.nombre}">A Smoke Test'</td>
                                <td th:text="${actividad.codigo}">A Smoke Test'</td>
                                <td th:text="${actividad.mets}">A Smoke Test'</td>
                                <td><img height="40px" src="" th:src="${actividad.url}"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>